html { font-family: 'Quicksand', sans-serif; background: url(wavegrid.png); }
* { margin: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h1, h2, h3 {font-weight: normal; color:black}
h2 { font-size: 1em}
a { color: black!important; }
body {color: #777;margin: 20px auto 0; max-width: 500px;}
img {cursor: pointer;}

header { height: 200px; overflow: hidden; position: relative}
header.big { height: auto; }

#smallpictures {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0;
}
#smallpictures > img {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: white;
  margin: 5px;
  border: 2px solid white;
}

header > img {
  display: block;
  width: 100%;
  margin-top: 2px;
}

#stars {
  float: right;
}

#meta, #location {
  margin: 1em 0;
}

#contact {
  color: black;
}

#desc {
  text-align: left;
  font-size: 0.9em;
  color: black;
}

#desc > q {
  color: #777;
  font-style: italic;
}

#meta {
  text-align: left;
  font-size: 0.8em;
}

@media (max-width: 500px) {
  body {
    margin: 0;
  }
}

header > h1 {
  text-align: center;
  padding: 0;
  padding: 10px 0;
  background-color: #555;
  border-color: hsla(211,68%,6%,.6);
  background-image: linear-gradient(hsla(211,68%,6%,.1), hsla(211,68%,6%,.2));
  box-shadow: 0 1px 3px hsla(211,68%,6%,.5) inset, 0 0 0 1px hsla(209,29%,72%,.1), 0 1px 0 hsla(210,16%,76%,.1);
  color: #CCC;
}
